.header__lang-link {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 18px;
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}
.header__lang-link:hover {
  opacity: 0.8;
}
