.place__title {
  display: flex;
  align-items: flex-end;
  width: 46.7%;
  min-height: 76px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    font-size: calc(42px + (72 - 42) * ((100vw - 768px) / ( 1024 - 768) ));
  }
}

@media (max-width: 768px) {
  .place__title {
    min-height: 46px;
    font-size: 42px;
    line-height: 46px;
  }
}
@media (max-width: 522px) {
  .place__title {
    min-width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .place__title {
    min-height: 35px;
    font-size: 32px;
    line-height: 35px;
  }
}
