.lead {
  max-width: 984px;
  min-height: 0;
  margin: 56px auto 0;
  padding: 0;
}
@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
@media (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin-top: 48px;
  }
}
@media (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}
