.header__logo {
  width: 176px;
  height: 52px;
  margin: 0;
  padding: 0;
  background: url("../../../images/header-logo.svg");
  background-size: contain;
}

@media (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
