.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  min-height: 42px;
  padding: 0;
  margin: 28px auto 0;
}

@media (max-width: 320px) {
  .header {
    margin-top: 16px;
  }
}
