.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1184px;
  min-height: 52px;
  margin: 28px 48px 0;
}
@media (max-width: 1024px) {
  .header {
    min-width: 928px;
    min-height: 52px;
  }
}
