.place__paragraphs {
  display: flex;
  flex-direction: column;
  max-width: 47%;
  margin: 0;
  margin-top: 48px;
  padding: 0;
  padding-inline-start: 0;
}

@media (max-width: 522px) {
  .place__paragraphs {
    min-width: 90%;
    margin: 32px auto 0;
  }
}
