.footer__link {
  margin: 0;
  padding: 0;
  margin-right: 18px;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}
.footer__link:last-of-type {
  margin-right: 0;
}
.footer__link:hover {
  opacity: 0.7;
}
