.cover__title {
  max-width: 560px;
  max-height: 152px;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
}
.cover__title a{
  text-decoration: none;
  color: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 510px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / ( 510 - 320) ));
  }
}
@media (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    min-height: 70px;
    font-size: 32px;
    font-size: 32px;
    line-height: 35px;
  }
}
