.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 47%;
  min-height: 46px;
  padding: 0;
  margin: 0;
  margin-left: 40px;
  list-style-type: none;
}
@media (max-width: 1024px) {
  .place__website {
    margin-left: 32px;
  }
}
@media (max-width: 768px) {
  .place__website {
    min-height: 46px;
    margin-left: 28px;
  }
}
@media (max-width: 522px) {
  .place__website {
    min-width: 90%;
    margin: 32px auto 0;
  }
}
@media (max-width: 320px) {
  .place__website {
    min-height: 46px;
  }
}
